<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CardIO-wrapper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>CardIO.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CardIOWrapper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>CardTray.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CardTrayDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CardTrayTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C065D0411D1181D900433963</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0900FA51D0C9C57003B1357</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0900FB61D0C9CB0003B1357</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0900FC71D0C9CDD003B1357</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0E9E45F1D0BB709006218BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0E9E4791D0BB75E006218BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
